.nav-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    border-color: black;
    background-color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
a{ 
 text-decoration: none;
 color: white;
}
header h1, p{
    text-align: center;
}

img{
   height: 50px;
   
}
.container {
  text-align: center;
}

img {
  display: inline-block; /* Mantém as imagens lado a lado */
  margin: 10px; /* Dá um espaçamento entre elas */
  max-width: 100%;
}

.ig-logo{
  transition:  0.2s ease, box-shadow 0.2s ease;
  -webkit-transition:  0.2s ease, box-shadow 0.2s ease;
  -moz-transition:  0.2s ease, box-shadow 0.2s ease;
  -ms-transition:  0.2s ease, box-shadow 0.2s ease;
  -o-transition:  0.2s ease, box-shadow 0.2s ease;
}
.ig-logo:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.ig-logo:active{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.linkedin-logo{
   transition:  0.2s ease, box-shadow 0.2s ease;
   -webkit-transition:  0.2s ease, box-shadow 0.2s ease;
   -moz-transition:  0.2s ease, box-shadow 0.2s ease;
   -ms-transition:  0.2s ease, box-shadow 0.2s ease;
   -o-transition:  0.2s ease, box-shadow 0.2s ease;
}
.linkedin-logo:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.linkedin-logo:active{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.container-media{
  display: flex;
  justify-content: center;
  margin: 30px;
}