button{
  background: transparent;
  position: relative;
  padding: 15px 20px;
  margin: 30px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(0, 26, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  -webkit-transition: color 0.3s 0.1s ease-out;
  -moz-transition: color 0.3s 0.1s ease-out;
  -ms-transition: color 0.3s 0.1s ease-out;
  -o-transition: color 0.3s 0.1s ease-out;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -ms-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
}

button:hover {

  border: 1px solid rgb(0, 26, 255);
  color: rgb(165, 52, 146);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(124, 176, 224);
  
}
a{
   text-decoration: none;
   color: rgb(0, 255, 255);
   text-decoration: none;
}
.btn{
   display: flex;
   justify-content: space-evenly;
   padding: 15px;
   position: relative;
   left: 15px;
   
}
.divider {
  text-align: center;
  margin: 30px 0;
}

.divider span {
  display: inline-block;
  font-size: 18px;
  color: #FFD700; /* Um tom dourado pode funcionar bem */
  padding: 0 15px;
  position: relative;
}

.divider span::before,
.divider span::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  top: -2px;
  margin: 0 10px;
}

body{
    background-color: rgb(104, 95, 15);
   padding: 30px;
}
.text{
    text-align: center;
    
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: aqua;
    -moz-text-decoration-color: aqua;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: beige;
    text-decoration: underline lawngreen;

}
p{
    text-align: center;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:  #F0F0F0;
    margin: 30px;
    
}
li{
 justify-items: center;
 text-align: center;
}
