
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

body{
    background-color:#10be27 ;
    text-align: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
}

h2{
    font-family: cursive;
    color: rgb(47, 0, 255);
    font-family: Tagesschrift;
}
p{
    color: #cc0202;
}
.btn{
  display: flex;
  justify-content: space-evenly;
  
}
button{
  background: transparent;
  cursor: pointer;
  border: 2px solid rebeccapurple;
  border-radius: 10px;
  transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -ms-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  margin: 20px;
  padding: 7px;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

